<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Historial Clínico</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <nav xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
      <ul>
        <li sec:authorize="hasAnyRole('ADMIN', 'VETERINARIO')">
          <a th:href="@{/pacientes/lista}">Pacientes</a>
        </li>

        <li><a th:href="@{/citas/lista}">Citas Médicas</a></li>

        <li sec:authorize="hasAnyRole('ADMIN', 'VETERINARIO')">
          <a th:href="@{/fichas/historial}">Historial Clínico</a>
        </li>

        <li class="logout-btn">
          <form th:action="@{/logout}" method="post" style="display: inline">
            <button type="submit">Cerrar Sesión</button>
          </form>
        </li>
      </ul>
    </nav>
    <div class="container" style="max-width: 900px">
      <h1>Historial Clínico</h1>
      <table>
        <thead>
          <tr>
            <th>Paciente</th>
            <th>Diagnóstico</th>
            <th>Tratamiento</th>
            <th>Receta</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="f : ${listaFichas}">
            <td th:text="${f.nombrePaciente}" style="font-weight: bold"></td>
            <td th:text="${f.diagnostico}"></td>
            <td th:text="${f.tratamiento}"></td>
            <td th:text="${f.receta}"></td>
          </tr>
        </tbody>
      </table>
      <br />
      <a th:href="@{/fichas/nueva}" class="button">Registrar Atención</a>
    </div>
  </body>
</html>
